/*reset && base*/
@charset "UTF-8";*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;-webkit-tap-highlight-color:transparent}body{font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size:14px;line-height:1.5;color:#333}body,button,dd,dl,form,h1,h2,h3,h4,h5,h6,input,menu,ol,optgroup,p,select,textarea,ul{margin:0}legend,menu,ol,td,th,ul{padding:0}ol,ul{list-style:none}hr,img,legend{border:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary,title{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}a{color:#48a4ec;text-decoration:none;background-color:transparent}a:active,a:hover{outline:0}a.line{border-bottom:1px solid #f4f5f5}a:focus{outline:0}img{vertical-align:middle;height:auto}hr{border-top:1px solid #f4f5f5;margin:0}abbr[title]{border-bottom:1px dotted}dfn{font-style:italic}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:70%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.3em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:0}i{font-style:normal}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;outline:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;color:inherit}.h1 .sm,.h1 small,.h2 .sm,.h2 small,.h3 .sm,.h3 small,.h4 .sm,.h4 small,.h5 .sm,.h5 small,.h6 .sm,.h6 small,h1 .sm,h1 small,h2 .sm,h2 small,h3 .sm,h3 small,h4 .sm,h4 small,h5 .sm,h5 small,h6 .sm,h6 small{font-weight:400;line-height:1}.h1 .sm,.h1 small,.h2 .sm,.h2 small,.h3 .sm,.h3 small,h1 .sm,h1 small,h2 .sm,h2 small,h3 .sm,h3 small{font-size:65%}.h4 .sm,.h4 small,.h5 .sm,.h5 small,.h6 .sm,.h6 small,h4 .sm,h4 small,h5 .sm,h5 small,h6 .sm,h6 small{font-size:75%}.h1,h1{font-size:38px}.h2,h2{font-size:32px}.h3,h3{font-size:26px}.h4,h4{font-size:20px}.h5,h5{font-size:18px}.h6,h6{font-size:12px}.fluid{display:table-cell;width:2000px;word-break:break-all}.block{display:block;width:100%}.inline-block{display:inline-block}.v-top{vertical-align:top}.v-middle{vertical-align:middle}.v-bottom{vertical-align:bottom}.display-table{display:table;width:100%}.table-cell{display:table-cell}.pd5{padding:5px}.pd10{padding:10px}.pd15{padding:15px}.pd20{padding:20px}.pd25{padding:25px}.pd30{padding:30px}.pd35{padding:35px}.pd40{padding:40px}.pd45{padding:45px}.pd50{padding:50px}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt15{padding-top:15px}.pt20{padding-top:20px}.pt25{padding-top:25px}.pt30{padding-top:30px}.pt35{padding-top:35px}.pt40{padding-top:40px}.pt45{padding-top:45px}.pt50{padding-top:50px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr15{padding-right:15px}.pr20{padding-right:20px}.pr25{padding-right:25px}.pr30{padding-right:30px}.pr35{padding-right:35px}.pr40{padding-right:40px}.pr45{padding-right:45px}.pr50{padding-right:50px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb15{padding-bottom:15px}.pb20{padding-bottom:20px}.pb25{padding-bottom:25px}.pb30{padding-bottom:30px}.pb35{padding-bottom:35px}.pb40{padding-bottom:40px}.pb45{padding-bottom:45px}.pb50{padding-bottom:50px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl15{padding-left:15px}.pl20{padding-left:20px}.pl25{padding-left:25px}.pl30{padding-left:30px}.pl35{padding-left:35px}.pl40{padding-left:40px}.pl45{padding-left:45px}.pl50{padding-left:50px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.mt35{margin-top:35px}.mt40{margin-top:40px}.mt45{margin-top:45px}.mt50{margin-top:50px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr25{margin-right:25px}.mr30{margin-right:30px}.mr35{margin-right:35px}.mr40{margin-right:40px}.mr45{margin-right:45px}.mr50{margin-right:50px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb25{margin-bottom:25px}.mb30{margin-bottom:30px}.mb35{margin-bottom:35px}.mb40{margin-bottom:40px}.mb45{margin-bottom:45px}.mb50{margin-bottom:50px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml25{margin-left:25px}.ml30{margin-left:30px}.ml35{margin-left:35px}.ml40{margin-left:40px}.ml45{margin-left:45px}.ml50{margin-left:50px}.ell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.clear:after,.clear:before{display:table}.clear:after{content:"";clear:both}.fl,.fr{display:inline}.fr{float:right}.fl{float:left}.show{display:block}.hide,[hidden],template{display:none}.pr{position:relative}.pa{position:absolute}.fixed{position:fixed}input{outline: 0;}.tr{text-align: right;}.tc{text-align: center;}.tl{text-align: left;}a,.t-teal{color: #17a1c4;}.fz18{font-size: 18px;}.fz16{font-size: 16px;}.t-black3{color: #333;}.t-orange{color: #ff6600;}.t-mute{color: #8da6af;}input::-webkit-input-placeholder {color:#bbbebf;}input:-moz-placeholder {color:#bbbebf;}input:-ms-input-placeholder {color:#bbbebf;}
.radio input,.radio .inner,.checkbox input,.checkbox .inner{cursor:pointer}.radio:hover .inner:before,.checkbox:hover .inner:before{border-color:#b3b3b3}.radio.disabled,.radio.disabled .inner,.checkbox.disabled,.checkbox.disabled .inner{opacity:0.5;filter:alpha(opacity=50);cursor:not-allowed}.radio input[type="radio"]:disabled+.inner:after,.checkbox input[type="radio"]:disabled+.inner:after{background-color:#2DB7F5}.radio.disabled,.radio.disabled .inner,.checkbox.disabled,.checkbox.disabled .inner{opacity:0.5;filter:alpha(opacity=50);cursor:not-allowed}.radio input[type="checkbox"]:disabled+.inner:before,.checkbox input[type="checkbox"]:disabled+.inner:before{background-color:#fff;border-color:#ccc}.radio input[type="checkbox"]:disabled+.inner:after,.checkbox input[type="checkbox"]:disabled+.inner:after{border-color:#ccc}.radio .inner,.checkbox .inner{line-height:16px;padding-left:14px}.radio .inner:before,.radio .inner:after,.checkbox .inner:before,.checkbox .inner:after{content:"";position:absolute;left:0;-webkit-transition:background 0.3s,transform 0.3s;-ms-transition:background 0.3s,transform 0.3s;-moz-transition:background 0.3s,transform 0.3s;transition:background 0.3s,transform 0.3s}.radio .inner:before,.checkbox .inner:before{width:16px;height:16px;border:2px solid #ccc;background:#fff;top:0}.radio{display:inline-block;vertical-align:middle;cursor:pointer}.radio .inner:before,.radio .inner:after{border-radius:100%}.radio .inner:after{-webkit-transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);-ms-transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);-moz-transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);transition:all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)}.radio input{opacity:0;width:0;height:0;display:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.radio .inner{position:relative;cursor:pointer;display:block;-webkit-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;-ms-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;-moz-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out}.radio input[type="radio"]:checked+.inner:after{top:5px;left:5px;width:6px;height:6px;background:#2DB7F5}.radio input[type="radio"]:checked+.inner:before{border-width:2px;border-color:#2DB7F5}.checkbox{display:inline-block;vertical-align:middle;cursor:pointer}.checkbox .inner:before{border-radius:2px}.checkbox .inner:after{line-height:1;-webkit-transform:scale(0);-ms-transform:scale(0);-moz-transform:scale(0);transform:scale(0)}.checkbox input{opacity:0;width:0;height:0;display:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.checkbox .inner{position:relative;cursor:pointer;display:block;-webkit-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;-ms-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;-moz-transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out;transition:background-color 0.3s ease-in-out,border 0.3s ease-in-out}.checkbox input[type="checkbox"]:checked+.inner:before{border-color:#2DB7F5;background-color:#2DB7F5}.checkbox input[type="checkbox"]:checked+.inner:after{content:'';display:block;width:16px;height:16px;left:0;top:0;background:url("../images/icon-right.png") no-repeat center;-webkit-transform:scale(1);-ms-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}

body {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-width: 1200px;
    overflow: auto;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

.t-white {
    color: #fff
}

/*页尾*/
.sign {
    background: #fff url(../images/sign.png) no-repeat center;
    height: 60px
}

.footer {
    background: #1d363a;
    padding: 28px 0 30px 0;
    color: #c1e3e7;
    font-size: 12px;
    height: 240px;
    line-height: 21px;
}

.footer a {
    color: #c1e3e7
}

.footer .t-white {
    color: #fff
}

.footer .w1200 > .fr {
    text-align: right
}

.footer .fr > p {
    margin-top: 30px
}
.erweima {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    background-color: #fff;
    padding: 2px;
}

.erweima img{
    width: 110px;
    height: 110px;
}

.group {
    padding: 20px 50px
}
.group > label {
    float: left;
    line-height: 40px;
    margin-right: 15px;
    width: 45px
}
input[type='text'],input[type='password'],select{
    height: 40px;
    padding: 6px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
input[type='button']{
    padding: 0;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    border: 0;
}
input[type='button']:hover{opacity: .9}
input:focus {
    border-color: #0fabcc;
    box-shadow: 0 0 10px rgba(82, 188, 248, .3)
}

input.error {
    border-color: #ff8e4a;
    box-shadow: 0 0 10px rgba(255, 142, 74, .3)
}

.btn-block {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    background: #2bbbd1;
    border-radius: 4px;
    text-align: center
}
input[type="button"][disabled]{
    background-color: #d0dee5;
    cursor: no-drop;
}
.select2.select2-container .select2-selection--single{
     height: 40px;
     border: 1px solid #d8d8d8;
     border-radius: 4px;
     box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
 }
.select2.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:6px;
}

/*layer样式重置*/
body .layui-layer{
    border: 5px solid rgba(2, 36, 41, 0.4);
    border-radius:6px;
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
body .layui-layer-title{
    height: 50px;
    line-height: 50px;
    font-size:18px;
    color: #15b7cf;
    background-color: #e8f0f4;
}
body .layui-layer-content{
    background-color: #f2f7fa;
}
.layui-layer-msg .layui-layer-content{
    background: none;
}
body .layui-layer-btn .layui-layer-btn0{
    float: right;
    background: #15b7cf;
    color: #fff;
    border-color: #15b7cf;
}
body .layui-layer-btn a{
    padding: 0 30px;
    height: 36px;
    line-height: 32px;
    font-size:18px;
    background: #fff;
    color: #15b7cf;
    border: 2px solid #15b7cf;
    border-radius: 4px;
}
.a-fontColor{
	color:#333333;
}
.a-fontColor:hover{
	color: #17a1c4;
}

